/* **************************************************************************************************************** 
    GLOBAL
**************************************************************************************************************** */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

html {
    color: #666666;
    font-size: 13px;
    font-family: 'roboto';
}
h1 {
    font-family: 'merriweather';
    font-size:24px;
    color: #3D312A;
}
h2 {
    font-family: 'roboto';
    font-size: 18px;
    color: #3D312A;
}
h2 b {font-weight: 700;}

a {color: #3DAAA8; text-decoration: none;}
a:hover {text-decoration: underline; color: #3DAAA8;}
img {
    border: 0 none;
    max-width: 100%;
    vertical-align: middle;
}
input {
    border: 1px solid #CCCCCC;
    font-size: 12px;
    height: 20px;
    padding: 3px 5px;
}
input[placeholder] {color: #999999;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
/* ****************************************************************************************************************
    estilos con posibles cambios de temas (colores)
**************************************************************************************************************** */
a.btn,
input.btn {
    background-color: #3DAAA8;
    border: none;
    text-align: center;
    padding: 5px 20px !important;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
}
a.btn:hover,
input.btn:hover {background-color:#48CAC8; text-decoration: none;}
.cart_summary .botones .close {color: #3DAAA8;}

footer .newsletter_block h4 {color: #3DAAA8;}
/* ****************************************************************************************************************
    HEADER
**************************************************************************************************************** */
header {}
header h1.logo {margin-top: 40px;}
header h1.logo a {display: block;}

header .social_module {
    padding: 7px 0;
    border-bottom: 1px solid #efe9e2;
    padding-left:80px; 
    float: right;
    margin-right: 10px;
}
header .login_cart_module {
    float: right;
    clear: right;
    margin: 7px 10px 7px 0;
}
header .login_cart_module li {float: left;}
header .login_cart_module li a {padding: 0 7px; color: #806d66;}
header .login_cart_module li a:hover {color: #3DAAA8;}
header .login_cart_module .cart {
    background: url(../media/icn-cart.png) no-repeat 0 0;
    padding-left:20px;
    margin-left: 5px;
}


.cart_block {position: relative;}
.cart_block .cart {cursor: pointer;}
.cart_block .cart span {
    background: url("../media/bg-cart-quantity.png") no-repeat scroll center center transparent;
    display: block;
    font-size: 10px;
    height: 13px;
    margin-left: -12px;
    padding: 4px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 20px;
}
.cart_block .cart_summary {
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    padding: 4px 8px;
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 100;
    display: none;
}
.cart_block .cart_summary h2 {
    font-weight: 100;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
    padding: 8px 0;
    margin-bottom: 8px;
}
.cart_block .cart_summary ul {overflow: hidden;}
.cart_block .cart_summary li {margin: 0 0 8px; border-bottom: 1px solid #cccccc; padding: 0 0 8px;}
.cart_block .cart_summary li a.img_link {display: block; float: left; padding: 0;}
.cart_block .cart_summary .info {
    margin-left: 65px;
    min-height: 77px;
    padding-right: 20px;
    position: relative;
    width: 170px;
}
.cart_block .cart_summary .info h4 {
    color: #3d312a;
    font-weight: 100;
    font-size: 16px;
    line-height: 17px;
}
.cart_block .cart_summary .info h4 a {padding: 0;}
.cart_block .cart_summary .info h5 {font-size: 11px; font-weight: 100;}
.cart_block .cart_summary .info p.price {position: absolute; bottom: 0; left: 0; font-size: 16px; font-weight: 100;}
.cart_block .cart_summary .info .delete {
    background: url("../media/btn-delete-product.png") no-repeat scroll center top transparent;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    text-indent: -9000px;
    top: 50%;
    width: 12px;
}
.cart_block .cart_summary .info .delete:hover {background-position: center bottom; }
.cart_summary .botones {overflow: hidden; margin: 3px 0;}
.cart_summary .botones a.btn {float: right;}

.search_module {
    clear: right;
    float: right;
    background-color: #EFE9E2;
    width: 400px;
    padding: 8px 8px 2px;
}
.search_module .skin-select-cont {float: left; width: 155px; margin-right: 10px;}
.search_module .form {overflow: hidden;}
.search_module input[type="text"] {float: left; width: 197px;}
.search_module input[type="submit"] {
    background: url("../media/btn-search.png") no-repeat scroll right center transparent;
    border: medium none;
    height: 28px;
    margin-left: -6px;
    text-indent: -9000px;
    width: 31px;
    float: left;
    cursor: pointer;
}
.search_module p {text-align: center; margin: 2px 0; clear: both;}

/* ****************************************************************************************************************
    ADVANCE SEARCH MODULE
**************************************************************************************************************** */
#search_advance {
    border: 2px solid #CCCCCC;
    width: 960px;
}

#search_advance input[type="text"] {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background: url("../media/icn-search-bg.png") no-repeat scroll 10px center transparent;
    font-size: 13px;
    padding: 13px 10px 13px 37px;
    width: 95.1%;
}
#search_advance h2 {
    background-color: #F2EDE8;
    font-size: 18px;
    font-weight: 100;
    padding: 8px 37px;
}
#search_advance .block {margin: 15px 37px; border-bottom: 1px solid #CCCCCC; padding-bottom: 7px;}
#search_advance .block.last {border-bottom: none;}
#search_advance .block h4 {font-size: 16px; color: #3D312A; font-weight: 100; margin-bottom: 13px}
#search_advance .block table {width: 100%;}
#search_advance .block table td {width: 25%; padding: 5px 0;}
#search_advance .block.last table td {padding: 5px 5px; }
#search_advance .block.last table td select {width: 190px}
#search_advance .block.last table td label {margin-bottom: 7px; font-size: 16px; display: block; font-weight: 100;}
#search_advance .block.last p {text-align: center; margin: 20px 0 0;}
#search_advance .block.last p input.btn {
    height: 31px;
    padding: 5px 70px !important;
}
#search_advance div.cmf-skinned-select .cmf-skinned-text {color: #666666;}
label.checkSkin {
    color: #666666;
    float: left;
    font-weight: 100;
    padding-left: 7px;
    padding-top: 2px;
    margin-bottom: 13px;
}
input.checkSkin[type="checkbox"] {
    display: none;
}
input.checkSkin[type="checkbox"]:checked + label {
    background: url("../media/icn-check-skin.png") no-repeat scroll 0 bottom transparent;
}
input.checkSkin[type="checkbox"] + label {
    background: url("../media/icn-check-skin.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 21px;
    text-indent: -1000em;
    width: 21px;
    float: left;
}

/* ****************************************************************************************************************
    MENU PRINCIPAL
**************************************************************************************************************** */
nav.main_nav {}
nav.main_nav ul li {float: left; position: relative;}
nav.main_nav ul li ul li {float: none;}
nav.main_nav ul li a.menu {
    background-color: #624C3D;
    color: #FFFFFF;
    display: table-cell;
    font-size: 13px;
    height: 49px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 97px;
}
nav.main_nav ul li a.menu:hover,
nav.main_nav ul li.menu-level a.menu.over {
    color: #3DAAA8;
    text-decoration: none;
    background-color: #FFFFFF;
}
nav.main_nav .level-2 {display: none;}

nav.main_nav ul li.menu-level a.menu {
    background-image: url(../media/arrow-mainMenu.png);
    background-repeat: no-repeat;
    background-position: 85% 52%;
}
nav.main_nav ul li.menu-level a.menu:hover,
nav.main_nav ul li.menu-level a.menu.over {
    background-image: url(../media/arrow-mainMenu-over.png);
    background-repeat: no-repeat;
    background-position: 85% 52%;
}
nav.main_nav ul li .level-2 {
    background-color: #FFFFFF;
    left: 0;
    overflow: hidden;
    padding: 15px 0;
    position: absolute;
    top: 49px;
    width: 960px;
    z-index: 99;
}
nav.main_nav ul li .level-2 ul {
    float: left;
    margin: 0 35px;
}
nav.main_nav ul li .level-2 ul.last {margin-right: 0;}
nav.main_nav ul li .level-2 ul.last li.last {margin-top: 10px;}
nav.main_nav ul li .level-2 ul li {margin: 4px 0;}
nav.main_nav ul li .level-2 ul li h3 a {padding-left: 0px; text-transform: uppercase; font-size: 12px; color: #3DAAA8; font-weight: 600;}
nav.main_nav ul li .level-2 ul li h3 a:hover {color: #666666;}
nav.main_nav ul li .level-2 ul li a {padding-left: 8px; font-size: 12px; font-weight: 100; color: #666666;}
nav.main_nav ul li .level-2 ul li a:hover {color: #3DAAA8; text-decoration: none; }

nav.main_nav ul li:nth-child(n+2) .level-2 {width:685px;}
/* ****************************************************************************************************************
    SECTION SOCIAL MODULE
**************************************************************************************************************** */
#social_module {background-color: #EFE9E2; padding: 20px 0; margin: 10px 0;}
#social_module h2 {text-align: center; font-weight: 600;}
#social_module .block {float: left; margin: 30px 1.5%; width: 30%;}
#social_module .block h3 {
    background: url(../media/icn-social-title.png) no-repeat right top;
    font-size: 16px; 
    font-weight:100; 
    border-bottom: 1px solid #BFBAB5; 
    padding-bottom: 4px; 
    margin-bottom: 10px;
    height: 27px;
}
#social_module .facebook.block h3   {background-position: right -11px;}
#social_module .twitter.block h3    {background-position: right -92px;}
#social_module .pinterest.block h3  {background-position: right -180px;}

/* ****************************************************************************************************************
    FOOTER
**************************************************************************************************************** */
footer {padding: 30px 0;}
footer ul {float: left; margin: 0 36px;}
footer ul li {margin-bottom: 7px;}
footer ul li h3 {font-size: 16px; font-weight: 100;}
footer ul li a {font-size: 12px; color: #6C564F; font-weight: 100;}
footer ul li a:hover {color: #3DAAA8; text-decoration: none;}

footer ul.first {margin: 0 30px 0 0;}
footer ul.first li {font-size: 11px; margin: 4px 0;}
footer ul.first li h1 {margin-bottom: 10px;}
footer ul.first li a {text-decoration: underline; color: #6C564F; font-size: 11px;}
footer ul.first li a:hover {text-decoration: none;}

footer .social_module {margin-left: 50px;}
footer .social_module li {float: left; margin-right: 6px;}
footer .social_module li a {
    background: url(../media/btn-social-module.png) no-repeat left top;
    display: block;
    text-indent: -9000px;
    height: 36px;
    width: 38px;
}
footer .social_module li a:hover {background-position: left bottom;}

footer .social_module li a.facebook {background-position: left top;}
footer .social_module li a.facebook:hover {background-position: left bottom;}

footer .social_module li a.twitter {background-position: -45px top;}
footer .social_module li a.twitter:hover {background-position:-45px bottom ;}

footer .social_module li a.pinterest {background-position: -88px top;}
footer .social_module li a.pinterest:hover {background-position: -88px bottom;}

footer .social_module li a.youtube {background-position: -132px top;}
footer .social_module li a.youtube:hover {background-position:-132px bottom;}

footer .social_module li a.instagram {background-position: -179px top;}
footer .social_module li a.instagram:hover {background-position:-179px bottom;}

footer .newsletter_block {
    background: url("../media/bg-newsletter-block.png") no-repeat scroll left top transparent;
    height: 69px;
    margin-left: 20px;
    margin-top: 3px;
    padding: 15px;
    width: 247px;
}
footer .newsletter_block h4 {
    color: #3DAAA8;
    font-family: 'merriweather';
    font-size: 15px;
    font-weight: 100;
    margin: 9px 0;
    text-align: center;
}
footer .newsletter_block input[type="email"] {
    float: left;
    font-size: 11px;
    height: 15px;
    padding: 2px 5px;
    width: 170px;
    margin-left: 5px;
}
footer .newsletter_block input[type="submit"] {
    float: left;
    font-size: 11px;
    height: 21px;
    padding: 0 9px 3px !important;
}
/* ****************************************************************************************************************
    MODALS
**************************************************************************************************************** */
#modals_content {display: none;}
/* ****************************************************************************************************************
    MEDIA QUERIES
**************************************************************************************************************** */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
        nav.main_nav ul li a.menu {font-size: 12px; padding: 0 6px;}
        nav.main_nav ul li:nth-child(n+6) a {width: 99px;}
        nav.main_nav ul li.menu-level a.menu {background-position: 89% 52%;}
        nav.main_nav ul li.menu-level a.menu:hover, 
        nav.main_nav ul li.menu-level a.menu.over {background-position: 89% 52%;}
        nav.main_nav ul li:nth-child(n+2) .level-2 {width: 550px;}
    }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

/* ****************************************************************************************************************
    FLEXSLIDER PLUGIN STYLES
******************************************************************************************************************* */

    /* FlexSlider Necessary Styles
    *********************************/ 
    .flexslider {margin: 0; padding: 0;}
    .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
    .flexslider .slides img { display: block;}
    .flex-pauseplay span {text-transform: capitalize;}

    /* Clearfix for the .slides element */
    .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
    html[xmlns] .slides {display: block;} 
    * html .slides {height: 1%;}

    /* No JavaScript Fallback */
    /* If you are not using another script, such as Modernizr, make sure you
     * include js that eliminates this class on page load */
    .no-js .slides > li:first-child {display: block;}


    /* FlexSlider Default Theme
    *********************************/
    .flexslider {
        margin: 0 0 40px;
        position: relative; 
        zoom: 1;
        color: #FFFFFF;
    }
    .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
    .loading .flex-viewport {max-height: 300px;}
    .flexslider .slides {zoom: 1;}

    .carousel li {margin-right: 5px}


    /* Direction Nav */
    .flex-direction-nav {*height: 0;}
    .flex-direction-nav a {
        background: url("../media/slider-controls.png") no-repeat scroll left 0 transparent;
        cursor: pointer;
        display: block;
        height: 73px;
        margin: -20px 0 0;
        position: absolute;
        text-indent: -9999px;
        top: 50%;
        width: 30px;
        z-index: 10; 
        /*opacity: 0; */
        /*-webkit-transition: all .3s ease;*/
    }
    .flex-direction-nav .flex-next {background-position: right 0; right: 5%; }
    .flex-direction-nav .flex-prev {left: 5%;}
    .flexslider .flex-next:hover {background-position: right -69px;}
    .flexslider .flex-prev:hover {background-position: left -69px;}
    /*.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}*/
    .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
    .flexslider .flex-prev.flex-disabled:hover {background-position: left 0;}
    .flexslider .flex-next.flex-disabled:hover {background-position: right 0;}

    /* Control Nav */
    .flex-control-nav {
    bottom: 2%;
    position: absolute;
    text-align: center;
    width: 100%;
}
    .flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
    .flex-control-paging li a {
        width: 15px; 
        height: 20px;
        font-size: 16px; 
        display: block; 
        background: url("../media/slider-controls.png") no-repeat scroll left bottom transparent;
        cursor: pointer; 
        text-indent: -9999px;
    }
    .flex-control-paging li a:hover { background-position: -22px bottom; }
    .flex-control-paging li a.flex-active { background-position: -22px bottom; cursor: default; }

    .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
    .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
    .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
    .flex-control-thumbs img:hover {opacity: 1;}
    .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
    .flexslider .loading {
        background: url("/media/loader.gif") no-repeat scroll center center transparent;
        min-height: 482px;
        height: 482px;
    }
    
/* **************************************************************************************************************** 
    @FONT-FACE
**************************************************************************************************************** */

@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-bold-webfont.eot');
    src: url('fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-bold-webfont.woff') format('woff'),
         url('fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-bold-webfont.eot');
    src: url('fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-bold-webfont.woff') format('woff'),
         url('fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-light-webfont.eot');
    src: url('fonts/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-light-webfont.woff') format('woff'),
         url('fonts/merriweather-light-webfont.ttf') format('truetype'),
         url('fonts/merriweather-light-webfont.svg#merriweatherlight') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather';
    src: url('fonts/merriweather-regular-webfont.eot');
    src: url('fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweather-regular-webfont.woff') format('woff'),
         url('fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-bold-webfont.eot');
    src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-bold-webfont.woff') format('woff'),
         url('fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype'),
         url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-medium-webfont.eot');
    src: url('fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-medium-webfont.woff') format('woff'),
         url('fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*STYLE GUIDE*/
#style_guide {padding: 15px;}
#style_guide .block {padding: 10px 20px; overflow: hidden;}
#style_guide .column {float: left; width: 33%; margin: 2% 1%;}

#style_guide .headline {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
pre {
    background-color: #e3e3e3;
    font-size: 12px;
    border-radius: 4px 4px 4px 4px;
    overflow: auto;
    padding: 2px 10px;
    white-space: pre;
    word-wrap: normal;
}

.font_merriweather {
    font-family: 'merriweather';
    font-size:20px;
    margin: 20px;
}
.font_merriweather h1 {font-weight: bold;}
.font_merriweather h2 {font-weight: normal;}
.font_merriweather h3 {font-weight: 100;}


.font_roboto {
    font-family: 'roboto';
    font-size:20px;
    margin: 20px;
}
.font_roboto h1 {font-weight: 700;}     /* bold */
.font_roboto h2 {font-weight: 600;}     /* medium */
.font_roboto h3 {font-weight: normal;}  /* normal */
.font_roboto h4 {font-weight: 100;}     /* lighter */
